
/* Desafio9/src/public/css/login.css */
  .welcome-message {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
  }

  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .login-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(228, 15, 146, 0.986);
    width: 300px;
  }

  .login-card h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .login-card label {
    display: block;
    margin: 10px 0 5px;
  }

  .login-card input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .login-card button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .login-card button:hover {
    background-color: #0056b3;
  }

