<h1>Lista de Produtos</h1>
<ul>
  <li>
    <h2>Notebook Dell Inspiron 15</h2>
    <p>Notebook com processador Intel i5, 8GB de RAM e 512GB SSD.</p>
    <p><strong>Preço: </strong>R$ 3500</p>
  </li>
  <li>
    <h2>Smartphone Samsung Galaxy S22</h2>
    <p>Smartphone com tela AMOLED de 6.1" e 128GB de armazenamento.</p>
    <p><strong>Preço: </strong>R$ 3800</p>
  </li>
  <li>
    <h2>Cadeira Gamer DXRacer</h2>
    <p>Cadeira ergonômica para jogos com ajuste de altura e apoio lombar.</p>
    <p><strong>Preço: </strong>R$ 899.99</p>
  </li>
  <li>
    <h2>Smart TV 50" LG OLED</h2>
    <p>Smart TV com tela OLED, resolução 4K e sistema operacional webOS.</p>
    <p><strong>Preço: </strong>R$ 4750</p>
  </li>
  <li>
    <h2>Fones de Ouvido Bluetooth Sony</h2>
    <p>Fones de ouvido sem fio com cancelamento de ruído ativo e bateria de longa duração.</p>
    <p><strong>Preço: </strong>R$ 950</p>
  </li>
</ul>
